.footerSection {
    background-color: #FFF5F6;
    padding: 30px 16px 8px;
}
.feedbackList {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}
.feedbackListItem:not(:last-child) {
    margin-right: 15px;
}
.feedbackListBtn {
    background-color: #FFFFFF;
    border-radius: 22px;
    padding: 7px 37px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: #D41443;
    align-items: center;
    display: flex;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.feedbackListBtn:focus, .feedbackListBtn:hover {
    background-color: #D41342;
    color: white;
}

.feedbackInfoDiv {
    display: flex;
    justify-content: space-between;
}

.feedbackTitle {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFA5BA;
    margin-bottom: 60px;
}

.feedbackTitleSpan {
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #D41443;
}
.contactsSocialList {
    display: flex;
    margin-bottom: 40px;
}

.contactsSocialListItem:not(:last-child) {
    margin-right: 24px;
}

.contactsSocialLink {
    padding: 7px;
    background-color: #FFA5BA;
    border-radius: 50%;
    display: grid;
}
.contactsSocialLink:focus, .contactsSocialLink:hover {
    background-color: #D41443;
}
.contactsSocialIcon {
    width: 20px;
    height: 20px;
    color: white;
}

.contactPhone {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
}
.contactPhoneLink {
    color: #D41443;
    margin-left: 5px;
}

.footer {
    border-top: 1px solid #E1E1E1;
    padding-top: 8px;
}
.footerText {
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #907E82;
    text-align: center;
}