.historyFlexDiv {
    display: flex;
}
.historyImgList {
    padding: 30px 5px;
}
.histioryImg {
    border-radius: 24px;
}
.histioryItem:not(:last-child) {
    margin-bottom: 20px;
}
.historyTextList {
    padding: 40px;
    text-align: justify;
    text-indent: 15px;
}

.historyTextTitle {
    font-size: 20px;
    line-height: 1.31;
    font-weight: 700;
    color: #D41443;
    margin-bottom: 10px;
    text-align: center;
}

.historyTime {
    font-size: 20px;
    line-height: 1.31;
    font-weight: 700;
    color: #FFB8CA;
    margin-bottom: 7px;
    text-align: center;
}

.historyText {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #000000;
}