.container {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.mainHeader {
    display: flex;
    background: #FFB8CA;
    justify-content: space-between;
    padding: 16px 40px;
    align-items: center;
}
.logo {
    font-size: 16px;
    line-height: 1.31;
    font-weight: 700;
    color: #D41443;
    width: 199px;
}
.mainHeaderBtn {
    background-color: #FFFFFF;
    border-radius: 22px;
    padding: 7px 37px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: #D41443;
    align-items: center;
    display: flex;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mainHeaderBtn:focus,
.mainHeaderBtn:hover {
    background-color: #D41342;
    color: white;
}

.mainHeaderBtnSpan {
    margin-right: 12px;
}